/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#bootstrap-overrides {
  background-color: #ffffff;
}

#bootstrap-overrides .jumbotron-fluid {
  background-color: #121212;
}
#bootstrap-overrides .jumbotron-fluid p {
  font-size: 30px;
  font-family: sans-serif;
  display: block;
  color: white;
  margin: auto;
  text-align: center;
}
#bootstrap-overrides .navbar {
  width: 100%;
  background-color: #121212;
  margin-bottom: 0px;
  border-radius: 0px;
}

#bootstrap-overrides .navbar ul {
  width: 100%;
  list-style: none;
}

#bootstrap-overrides .navbar ul li {
  width: 25%;
  float: left;
}

#bootstrap-overrides .navbar ul li a {
  display: block;
  width: 100%;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: overline;
  letter-spacing: 2px;
  font-weight: 5000;
  font-style: normal;
  line-height: 1em;
  padding-left: 80px;
}

#bootstrap-overrides .devise-authentication-banner {
  background-color: #B4B8AB;
}
#bootstrap-overrides .devise-authentication-banner a {
  color: black;
}
